spring:
  application:
    name: beastxfit

  datasource:
    url: jdbc:postgresql://localhost:5432/beast
    username: postgres
    password: beast123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8081